<!DOCTYPE html>

<html>
   <head>
      <title>Portfólio API</title>
      <link rel="shortcut icon" href="robot.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <div class="grid-container">
      <div class="titulo-pagina">
        <h1>API menu</h1>
        <caption>okay</caption>
      </div>
      <div class="data-hora container">
        <h3>Data e Hora:</h3>
        <ul>
          <li><a href="time/api/2015-12-25">[project url]/time/api/2015-12-25</a></li>
          <li><a href="time/api/1451001600000">[project url]/time/api/1451001600000</a></li>
        </ul>

        <h3>Example Output:</h3>
        <p>
          <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
        </p>
      </div>
      <div class="footer">
        <p>
          By <a href="https://github.com/davi38/data-hora/" target="_blank">Davi Alves</a>
        </p>
      </div>
    </div>
    </body>
    </html>