<!DOCTYPE html>

<html>
  <head>
    <title>Encurtamento de URL</title>
    <link rel="icon" type="image/x-icon" href="robot.ico" />
    <link href="form.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>Encurtamento de URL's:</h1>
    <main>
      <section>
        <form action="/url/api/shorturl" method="POST">
          <fieldset>
            <legend>Encurtador de URL</legend>
            <label for="url_input">digite a URL:</label>
            <input id="url_input" type="text" name="url" placeholder="https://github.com/davi38/" />
            <input type="submit" value="Encurtar URL" />
          </fieldset>
        </form>
      </section>
    </main>
    <footer>
      <p>Meu <a href="https://www.linkedin.com/in/davialvesoliveira/">Linkedin</a></p>
    </footer>
  </body>
</html>